<!DOCTYPE html>
<html lang="en">
<head>
  <title>Solvem- Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://jj-jj.org/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://intridea.github.io/sketch.js/lib/sketch.js"></script>
  <script>
  $(document).ready(function(){
    $("a").on('click', function(event) {
      if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){
          window.location.hash = hash;
        });
      }
    });
  });
  </script>
</head>
<body>
  <div class="container-fluid jumbotron" id="header">
    <h1>Got Math?</h1>
    <h2>Simply draw your expression, and we'll solve it for you.</h2>
    <a href="#canvas">
      <i class="fa fa-arrow-circle-down"></i>
    </a>
    <h4>Click the arrow to begin.</h4>
  </div>
  <div class="container-fluid" id="canvas">
    <h2>Draw problem here:</h2>
    <canvas id="colors_sketch" width="800" height="300"></canvas>
    <br>
    <button id="saveBtn">Enter</button>
  </div>
  <script type="text/javascript">
  $(function() {
    $.each(['#f00', '#ff0', '#0f0', '#0ff', '#00f', '#f0f', '#000', '#fff'], function() {
      $('#colors_demo .tools').append("<a href='#colors_sketch' data-color='" + this + "' style='width: 10px; background: " + this + ";'></a> ");
    });
    $.each([3, 5, 10, 15], function() {
      $('#colors_demo .tools').append("<a href='#colors_sketch' data-size='" + this + "' style='background: #ccc'>" + this + "</a> ");
    });
    $('#colors_sketch').sketch();
    $('#saveBtn').click(function () {
      console.log("clicked")
      $.post( "http://httpbin.org/post", { data: $('#colors_sketch')[0].toDataURL() })
      .done(function() {
        alert( "success" );
      })
      .fail(function() {
        alert( "error" );
      })
      .always(function() {
        alert( "complete" );
      });
    });
  });
  </script>
</body>
</html>
